<html>
  <head>
    <script src="https://gw.alipayobjects.com/os/lib/antv/g6/4.3.11/dist/g6.min.js"></script>
    <title>Flask Tutorial</title>
  </head>
  <body>
    <!-- <script src="{{ url_for('static', filename='graph_data.json') }}" type=application/json></script> -->
    <h1>{{ data }} </h1>
    <div id="updates"></div>

    <div id="mountNode"></div>

    <script>
    const updatesElement = document.getElementById('updates');
    const eventSource = new EventSource('/data-stream');

    eventSource.onmessage = (event) => {
        updatesElement.innerHTML += event.data + '<br>';
    };

    eventSource.onerror = (error) => {
        console.error('Error with SSE connection:', error);
        eventSource.close();
    };
    </script>

    <script>
      const main = async () => {
        try {
          const response = await fetch("/static/graph_data.json");
          const graphdata = await response.json();

          // Instantiate the Graph
          const graph = new G6.Graph({
            container: "mountNode", // String | HTMLElement, required, the id of DOM element or an HTML node
            width: 800, // Number, required, the width of the graph
            height: 500, // Number, required, the height of the graph
          });

          graph.data(graphdata); // Load the data defined in Step 2
          graph.render(); // Render the graph
        } catch (error) {
          console.log(error);
        }
      };
      main();
    </script>
  </body>
</html>
